{% extends "layout.html" %}

{% block title %}
    New Log
{% endblock %}

{% block main %}
    <form action="/nlog" method="post">
        <h3 class="lead fw-normal text-muted">
            Great job on drinking some water! Add your log here:
        </h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ounces" name="ounces" placeholder="Ounces" type="number" min="1">
        </div>
        <div class="mb-3 center">
            <button class="btn btn-primary" type="submit">Add Ounces</button>
        </div>
    </form>
{% endblock %}